{% extends 'base/main.html' %}
{% block content %}

<!-- Provides a link to go back to the task list-->
<div class="header-bar">
    <a href="{% url 'tasks' %}">&#8592; Back</a>
</div>


<div class="card-body">
    <form method="POST" action="">

        <!-- The {% csrf_token %} tag ensures the form is protected from cross-site request forgery attacks.-->
        
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Submit">
    </form>
</div>


{% endblock content %}